// guesser specific styles
.panel-guesser {
	overflow: hidden;
	&:after {
	content: attr(answer-content);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: block;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: -50px;
    margin-left: -100px;
    color: $brand-primary;
    font-size: $gap-8;
    opacity: 0;
    }
}
.loading-answer {
    &:after {
        animation: roll-in 1.5s forwards;
    }
}
// .correct-answer {
//     &:after {
//         content: 'Correct!';
//     }
// }
// .incorrect-answer {
//     &:after {
//         content: 'Nope!';
//     }
// }
.continue-container {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: $gradient-full;
    padding: $gap-11 $gap-5 $gap-5 $gap-5;
}
.guesser-title {
	font-size: $gap-10;
	color: $brand-purple;
	margin-top: $gap-10;
	margin-bottom: $gap-10;
}
.guesser-subtitle {
    font-size: $gap-8;
    color: $gray-secondary;
    margin-top: $gap-8;
    margin-bottom: $gap-8;   
    i {
        color: #FBC02D;
    }
}
.points {
    position: absolute;
    top: $gap-10;
    right: 15px;
    text-align: right;
    h3 {
        color: $brand-primary;
    }
    i {
        color: #FBC02D;
    }
}
.ripple-forwards,
.ripple-backwards {
	&:before {
    content: ' ';
    position: absolute;
    display: block;
    background-color: #eee;
    bottom: 0;
    left: 0;
    z-index: 1;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0;
    // animation: ripple-animation 1s forwards;
    // animation: ripple-animation 1.6s 2 alternate backwards;
	}
}
.ripple-forwards {
    &:before {
        animation: ripple-animation 1s forwards;
    }
}
.ripple-backwards {
    &:before {
        animation: ripple-animation 1s backwards;
    }
}
@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    33% {
      transform: scale(100);
      opacity: 1;
    }
    to {
      transform: scale(100);
      opacity: 1;
    }
}

@keyframes roll-in {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}